//site-wise checkbox styles

md-checkbox {

  margin-bottom:0px !important;

  .md-container{
    width:15px !important;
    height: 15px !important;
    background: $color-lighter-grey !important;
  }

  .md-icon {
    width:15px !important;
    height: 15px !important;
    background: $color-lighter-grey !important;
    border: solid $color-lighter-grey;
  }

  &.md-checked {

    .md-icon{

      background: $color-lighter-black !important;

      &:after{
        left: 5.6px !important;
        top: 1.22px !important;
        width: 5px !important;
        height: 10px !important;
        background: $color-lighter-black !important;
      }
    }

    .md-ink-ripple{

      color: black !important;
      background: $color-lighter-grey !important;
    }

  }
}
