#table {
  border-collapse: collapse;
  width: 100%;

  tr{
    cursor: hand;
    &:nth-child(odd) {
      background-color: $color-light-smoke-white;
    }
    &:hover{
      background-color: $color-light-smoke-white;
    }
  }

  .ion-arrow-down-c,ion-arrow-up-c{
    font-size: 15px;
    font-weight: lighter;
    padding-left: 5px;
  }

  th , td{
    padding: 10px;
    text-align: left;
    border-bottom: none;
  }
}