<md-card style="max-width: 400px;margin: 10px auto;vertical-align:middle;" flex-gt-xs="33" layout-align="center center">
    <md-card-header>
        <md-card-header-text class="md-title">
            <div>LOGIN</div>
        </md-card-header-text>
    </md-card-header>

    <md-card-content layout-fill style="text-align: center;">
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Email ID</label>
            <!--<md-icon><i class="icon ion-ios-search-strong"></i></md-icon>-->
            <input ng-model="email" type="text">
        </md-input-container>


        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>Password</label>

            <input type="password" ng-model="password">
        </md-input-container>

        <md-button class="md-button md-raised" style="margin: 0 auto;" ng-click="login_user()">Submit</md-button>
        <md-button class="md-button md-raised" style="margin: 0 auto;" ng-click="demo()">Submit</md-button>

    </md-card-content>
</md-card>